<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ECommerce Application Test Suite">
<listeners>
<listener class-name="com.qa.ecommerce.ExtentReportListener.ExtentReporterNG"></listener>
</listeners>

<test name = "Ecommerce Tests">
	<classes>
	<class name = "com.qa.ecommerce.tests.SignInTest"></class>
	</classes>


</test>
</suite>
